/*
Theme Name: Monster
Theme URI: https://mims.nl
Author: Thomas van der Veen
Author URI: https://mims.nl
Description: Wordpress test
Version: 1
Text Domain: monster
Tags: monster
*/

/*
    font-family: 'Pinyon Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
*/

/* Variables */
$orange: #ffa41f;
$light-orange: #e8b66d;
$grey: #5c5c5c;
$dark-grey: darken($grey, 10);
$light-grey: lighten($grey, 20);


/* HTML elements */
body
{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

section
{
    padding: 70px 0px;

    @media (max-width: 992px)
    {
        padding: 35px 0px;
    }
}


h4
{
    font-size: 22px;
    font-weight: 700;

    small
    {
        display: block;
        margin-top: 5px;
        color: $light-grey;
        font-weight: 400;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
    }
}


/* Bootstrap classes */
.btn
{
    padding: 10px 30px;
    border-radius: 0px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    &:hover
    {
        color: #fff;
    }
}

.btn-primary
{
    background: $light-orange;

    &:hover
    {
        background: darken($light-orange, 10);
    }
}

.btn-secondary
{
    background: $grey;

    &:hover
    {
        background: $dark-grey;
    }
}


/* Reusable classes */
.playfair
{
    font-family: 'Playfair Display', serif;
}

.uppercase
{
    text-transform: uppercase;
}

.color-primary
{
    color: $orange;
}

.bg-light-grey
{
    background: $light-grey;
}

.disp-t
{
    display: table;
    width: 100%;
}

.disp-tc
{
    display: table-cell;
}

.vert-middle
{
    vertical-align: middle;
}

.bg-centered
{
    background: no-repeat center center;
    background-size: cover;
}

.bg-black-transp
{
    background: rgba(0, 0, 0, 0.8);
}

.title-pinyon
{
    position: relative;
    color: $orange;
    font-family: 'Pinyon Script', cursive;

    .pre-title
    {
        display: block;
        padding-bottom: 10px;
        font-size: 22px;
        font-family: 'Lato', sans-serif;

        &.white
        {
            color: #fff;
        }

        &.black
        {
            color: #000;
        }
    }

    &:after
    {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -5%;
        height: 3px;
        width: 10%;
        background: $orange;
    }
}

h1.title-pinyon
{
    margin-bottom: 40px;
    padding-bottom: 30px;
    font-size: 115px;
}

h2.title-pinyon
{
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-size: 70px;
}

.menu-card
{
    padding: 70px 15px;
    background: rgba(0, 0, 0, 0.8);

    .intro
    {
        margin-bottom: 40px;
        font-weight: 700;
    }
}

.menu-list
{
    list-style: none;
    margin: 0px;
    padding: 0px;

    .menu-list-item
    {
        margin-bottom: 40px;

        .title
        {
            margin-bottom: 0px;
            padding-bottom: 0px;
            font-size: 17px;
            color: $orange;
        }

        .description
        {
            font-size: 13px;
            margin-bottom: 20px;
        }

        .price
        {
            font-size: 26px;
            font-family: 'Playfair Display', serif;
            color: $orange;
        }

        &:last-child
        {
            margin-bottom: 0px;
        }
    }
}


/* Custom */
#home
{
    min-height: 850px;
    color: #fff;
    background-image: url('http://via.placeholder.com/1920x1000');
    background-size: cover;

    p
    {
        font-size: 22px;
        margin-bottom: 100px;
    }

    @media (max-width: 768px)
    {

        .title
        {
            font-size: 85px;
        }
        
        .buttons .btn
        {
            margin-bottom: 15px;
        }
    }

    @media (max-width: 992px)
    {
        &
        {
            min-height: auto;
        }
    }

}
#about
{
    p
    {
        margin-bottom: 60px;
    }

    h4
    {
        margin-bottom: 40px;
    }

    .right-col img
    {
        width: 100%
    }

    @media (max-width: 768px)
    {
        .left-col
        {
            margin-bottom: 40px;
        }
    }
}

#specialities
{
    color: #fff;
    background-image: url('http://via.placeholder.com/1920x1000');

    .menu-list
    {
        margin-bottom: 40px;
    }
}

#services
{
    @media (max-width: 992px)
    {
        .service-col
        {
            margin-bottom: 30px;

            &:last-child
            {
                margin-bottom: 0px;
            }
        }
    }    
}
