/*
Theme Name: Monster
Theme URI: https://mims.nl
Author: Thomas van der Veen
Author URI: https://mims.nl
Description: Wordpress test
Version: 1
Text Domain: monster
Tags: monster
*/
/*
    font-family: 'Pinyon Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
*/
/* Variables */
/* HTML elements */
body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000; }

section {
  padding: 70px 0px; }

h4 {
  font-size: 22px;
  font-weight: 700; }
  h4 small {
    display: block;
    margin-top: 5px;
    color: #8f8f8f;
    font-weight: 400;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase; }

/* Bootstrap classes */
.btn {
  padding: 10px 30px;
  border-radius: 0px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }
  .btn:hover {
    color: #fff; }

.btn-primary {
  background: #e8b66d; }
  .btn-primary:hover {
    background: #e1a041; }

.btn-secondary {
  background: #5c5c5c; }
  .btn-secondary:hover {
    background: #434343; }

/* Reusable classes */
.playfair {
  font-family: 'Playfair Display', serif; }

.uppercase {
  text-transform: uppercase; }

.color-primary {
  color: #ffa41f; }

.bg-light-grey {
  background: #8f8f8f; }

.disp-t {
  display: table;
  width: 100%; }

.disp-tc {
  display: table-cell; }

.vert-middle {
  vertical-align: middle; }

.bg-centered {
  background: no-repeat center center;
  background-size: cover; }

.bg-black-transp {
  background: rgba(0, 0, 0, 0.8); }

.title-pinyon {
  position: relative;
  color: #ffa41f;
  font-family: 'Pinyon Script', cursive; }
  .title-pinyon .pre-title {
    display: block;
    padding-bottom: 10px;
    font-size: 22px;
    font-family: 'Lato', sans-serif; }
    .title-pinyon .pre-title.white {
      color: #fff; }
    .title-pinyon .pre-title.black {
      color: #000; }
  .title-pinyon:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -5%;
    height: 3px;
    width: 10%;
    background: #ffa41f; }

h1.title-pinyon {
  margin-bottom: 40px;
  padding-bottom: 30px;
  font-size: 115px; }

h2.title-pinyon {
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-size: 70px; }

.menu-card {
  padding: 70px 0px;
  background: rgba(0, 0, 0, 0.8); }
  .menu-card .intro {
    margin-bottom: 40px;
    font-weight: 700; }

.menu-list {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  .menu-list .menu-list-item {
    margin-bottom: 40px; }
    .menu-list .menu-list-item .title {
      margin-bottom: 0px;
      padding-bottom: 0px;
      font-size: 17px;
      color: #ffa41f; }
    .menu-list .menu-list-item .description {
      font-size: 13px;
      margin-bottom: 20px; }
    .menu-list .menu-list-item .price {
      font-size: 26px;
      font-family: 'Playfair Display', serif;
      color: #ffa41f; }
    .menu-list .menu-list-item:last-child {
      margin-bottom: 0px; }

/* Custom */
#home {
  height: 850px;
  color: #fff;
  background-image: url("http://via.placeholder.com/1920x1000");
  background-size: cover; }
  #home p {
    font-size: 22px;
    margin-bottom: 100px; }

#about p {
  margin-bottom: 60px; }
#about h4 {
  margin-bottom: 40px; }

#specialities {
  color: #fff;
  background-image: url("http://via.placeholder.com/1920x1000"); }
  #specialities .menu-list {
    margin-bottom: 40px; }

/* body
{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}


.divider-hor
{
    height: 3px;
    width: 100%;
    background: $orange;
}


#home
{
    height: 850px;
    color: #fff;
    background: url('http://via.placeholder.com/1920x1000') no-repeat center center;
    background-size: cover;

    h1
    {
        color: $orange;
        font-size: 114px;
        font-family: 'Pinyon Script', cursive;
    }
} */

/*# sourceMappingURL=style.css.map */
